<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Input Form</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Send Email Body</h2>

    <!-- HTML Form submitting via POST -->
    <form action="/submit-email" method="post">
        <div class="form-group">
            <label for="email_body">Type your Email Body here:</label>
            <!-- The 'name' attribute is what FastAPI reads -->
            <textarea id="email_body" name="email_body" placeholder="Write your email content..."></textarea>
        </div>
        <div class="btn">
            <button type="submit">Submit Body</button>
            </div>
    </form>

    <!-- Display success message if variables exist -->
    {% if result %}
        <p><strong>Email is:</strong> {{ result }}</p>
    {% endif %}
</div>
{#<script src="{{ url_for('static', path='/script.js') }}"></script>#}
</body>
</html>
